* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;    
    color: cadetblue;
}

#container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);

    /* background: rgba(19, 1, 1, 0.56);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
        */
}

/* -------------------------------------top------------------------------------ */


#top {
    display: flex;
    flex-basis: 15%;
}

#top #title {
    display: flex;
    gap: 30px;
}
#top #title #magic-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "tangerine", sans-serif;
    font-size: 30px;
}

#top #title #etch-a-sketck-label {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    flex: 1;
    font-family: "Island Moments", sans-serif;
}

#top #title #board-label {
    display: flex;
    align-items: center;
    font-family: "tangerine", sans-serif;
    font-size: 30px;
}

/* ------------------------------middle-------------------------------- */

#middle {
    display: flex;
    flex-basis: 70%;
    
}

#middle #first-column {
    flex: 1;
    display: grid;
    flex-direction: column;
    accent-color: currentcolor;
    gap: 100px;
}

#middle #first-column #rangeValue {
    display: flex;
    height: auto;
    justify-content: center;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

#middle #first-column #slider {
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(270deg);
}

#middle #first-column button {
    font-size: 30px;
    flex: 1;
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(112.1deg,
    rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}


/* -------------------------------------------------------------------- */
#middle #second-column {
    flex: 4;
    display: flex;
    
    flex-wrap: wrap;
    background-color: white;
    border: 3px solid cadetblue;
}   

#middle #second-column :hover {
    cursor: crosshair;
}
/* ----------------------------------------------------------------------- */

#middle #third-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

#middle #third-column button {
    font-size: 30px;    
    font-family: "Bebas Neue", sans-serif;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);

}

/* ------------------------bottom------------------------------------ */
#bottom {
    display: flex;
    flex-basis: 15%;
    justify-content: center;

}
